{% load myfilters %}
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <div class="">
    <header class="">
      <nav class="navbar navbar-expand-lg pb-5">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}">Our Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'posts' %}">Posts</a>
              </li>
              {% if request.user.is_author %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'post-create' %}">Create Post</a>
                </li>
              {% endif %}
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'post-create' %}">Create Post</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Log In </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">SignUp</a>
              </li>
              {% endif %}
              <li class="nav-item">
              <a href="{% url 'order-summary' %}">
                <i class="fa fa-shopping-cart pt-2" style="font-size:24px;color:white;text-align:left;text-indent:3em;"></i>
              </a>
              </li>
              <h6 class="pt-3" style=color:white;>{{request.user|item_count}}</h6>
            </ul>
          </div>
      </nav>
    </header>
    </div>