{% extends "base.html" %}
{% load static %}
{% load myfilters %}
{% block content %}
  
    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>new arrivals</h4>
              <h2>sixteen products</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li data-filter=".all">All</li>
                {% for cat in categories %}
                  <li data-filter=".{{cat}}">{{cat}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                  {% for product in products %}
                    <div class="col-lg-4 col-md-4 all {{product.category}}">
                      <div class="product-item">
                        <a href="#"><img src="{{ product.thumbnail.url }}" alt=""></a>
                        <div class="down-content">
                          <a href="#"><h4>{{product.title}}</h4></a>
                          <h6>{{product.price}}$</h6>
                          <p>{{product.overview}}</p>
                          <ul class="stars">
                            {% for i in product.starts|times %}
                              <li><i class="fa fa-star"></i></li>
                            {% endfor %} 
                          </ul>
                          <span>Reviews (12)</span>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>

            </div>
          </div>
          <div class="col-md-12">
            <ul class="pages">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


{% endblock content %}    
